* {
    margin: 0;
    padding: 0;
}


.BackGround{
    background-color: #1f2937;
    height: 530px;
    width: 100%;
}

.container1{ 
    /* This is the first flex container for header logo section */
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100px;  
    margin-left: 200px;
    gap: 20px;
    padding: 20px;
}

.container1 .one{
    /* flex item, this is the header logo and flex is 3 so it will take 3 units */
    flex: 3;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
}
.header{
    /* common for all the flex items */
    color: #f9faf8;
    text-align: center;
    font-size: 18px;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.description{
    /* this is the description div that contains the header, para and button */
    border: 2px solid red;
    width: 35%;
    height: 300px;
    margin-left: 200px;
    display: inline-block;   
    margin-right: 33px;
    /* vertical-align make sure the div doesn't move down */
    vertical-align: top;   
}

.image-holder{
    /* div that contains the image */
    border: 2px solid red;
    width: 35%;
    height: 300px;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
}

.text{
    padding: 10px;
    color: #f9faf8;
    text-align: left;
    font-size: 19px;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.text.head{
    font-size: 45px;
    font-weight: bolder;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    margin-left: 10px;
}

.text-box{
    width: 50%;
    border: 2px solid red;
    text-align: center;
    margin-left: 350px;
    margin-top: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.container2{
    /* This is the second flex container for subtext and an sub image holder */
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    border: 2px solid red;
    height: 280px;
    margin: 40px 200px 50px;
    gap: 45px;      
}

.container2-box{
    /* this is a div as a flex item */
    flex: 1;
    text-align: center;
    border: 2px solid red;  
    font-size: 16px;
    font-family: "Gill Sans Extrabold", sans-serif;
}


.Sub-image-holder{
    /* act as a box for the sub image */
margin: 2px 2px 8px 2px;
border: 4px solid #3882f6;
border-radius: 50%;
width: 95%;
height: 70%;
}

.secondBackground{
    background-color: #e5e7eb;
    height: 350px;
    width: 100%;
    /* border: 2px solid red; */
}

.testimonial{
border: 2px solid red;
width: 70%;
height: 120px;
margin-left: 200px;
font-size: 36px;
font-style: italic;
color: #1f2937;
padding-top: 120px;
}

.author{

    border: 2px solid red;
    width: 25%;
    margin-left: 58%;
    font-size: 28px;
    font-weight: 600;
}
